.embla {
  position: relative;
  width: calc(100% + 40px);
  margin-top: 16px;
  margin-left: -20px;
}

@media (max-width: 768px) {
  .embla {
    width: calc(100% + 32px);
    margin-top: 8px;
    margin-left: -16px;
  }
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  padding-left: 4px;
  min-width: 93%;
  position: relative;
}

@media (max-width: 768px) {
  .embla__slide {
    min-width: 88%
  }
}

.embla__slide__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
}

.embla__slide__parallax {
  position: relative;
}

.embla__slide__img {
  position: relative;
  display: block;
  width: 100%;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla--thumb {
  width: 100%;
  margin-top: 8px;
  margin-left: 0;
  padding-top: 0;
}

.embla__container--thumb {
  cursor: default;
  margin-left: -8px;
}

.embla__slide--thumb {
  padding-left: 8px;
  min-width: 20%;
}

.embla__slide__inner--thumb {
  position: relative;
  display: block;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  touch-action: manipulation;
  cursor: pointer;
  overflow: hidden;
}

.embla__slide__thumbnail {
  position: absolute;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: -10000%;
  right: -10000%;
  margin: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  transform: scale(0.1);
  transition: opacity 0.2s;
}

@media (max-width: 768px) {
  .embla__slide__inner--thumb {
    height: auto;
    padding-top: 70%;
  }
}

.embla__slide__thumbnail {
  position: absolute;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: -10000%;
  right: -10000%;
  margin: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  transform: scale(0.1);
  transition: opacity 0.2s;
}

.embla__slide--thumb.is-selected .embla__slide__thumbnail {
  opacity: 1;
}